<div class="container cart-page">
  <h1 class="header">Your Cart</h1>

  <ng-container *ngIf="cart$ | async as cartItems">
    <div class="empty-cart" *ngIf="cartItems.length === 0">You have no items in your cart</div>

    <ul class="cart" *ngIf="cartItems.length > 0">
      <li class="cart-item" *ngFor="let product of cartItems; let i = index">
        <div class="product gm-card gm-product">
          <div class="product-details">
            <!-- <img class="product-img" [src]="getImageUrl(product)" [alt]="product.name" /> -->
            <img class="product-img" />
            <div class="product-info">
              <div class="title">download grid item - {{ product.name }}</div>
              <div class="panel">
                <div class="tron-desc">
                  <h3 class="td-title">{{ product.description }}</h3>
                </div>
              </div>
              <div class="category">Digital Type: {{ product.category }}</div>
            </div>
          </div>

          <div class="price">
            <div class="price-original" [ngClass]="{ strike: product.discount > 0 }">
              {{ product.price | currency : 'USD' }}
            </div>
            <div *ngIf="product.discount > 0" class="price-discount">
              {{ product.price * (1 - product.discount) | currency : 'USD' }}
            </div>
            <button class="btn-remove" (click)="removeFromCart(product)">Remove</button>
          </div>
        </div>
      </li>
    </ul>

    <div class="cart-summary">
      <div class="total">Total: {{ totalFrom(cartItems) | currency : 'USD' }}</div>
      <!-- Optional checkout button
      <button class="btn-cta">Checkout</button>
      -->
    </div>
  </ng-container>
</div>
